<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCYNQSbnsdx-KPTUvGSchf2HHbHzunsO4E</string>
	<key>GCM_SENDER_ID</key>
	<string>1003388316244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gasleakage.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>municipality-corp</string>
	<key>STORAGE_BUCKET</key>
	<string>municipality-corp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003388316244:ios:48caad2dc7605765c01bc1</string>
	<key>DATABASE_URL</key>
	<string>https://municipality-corp-default-rtdb.firebaseio.com</string>
</dict>
</plist>